@CHARSET "UTF-8";

/* IDs */
#margin-btn {
  margin-left: 50px;
  margin-top: 10px;
}
#slider {
    margin-top: 2%;
    padding-bottom: 20px;
}

#vih-flwr {
  height: 180px;
  width: 270px;
}

body {
  background-color:rgba(252, 252, 252, 0.2); /*  #FFFEFE*/
}

/* TÍTULOS */
h1, h2, h3, h4 {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
}

h4 a {
  color: #000;
}
h4 a:hover {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

/* LINHAS PARA SEPARAÇÃO */
hr {
  margin: 20px 0;
}

/* CENTRALIZAR IMAGENS - IMPORTANTE P SLIDER */
img {
  margin: 0 auto;
}

label  {
  font-family: 'Opens Sans', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

/* TEXTOS */
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
}

p a {
  color: #000;
  text-decoration: none;
}
p a:hover {
  color: #E60075;
  text-decoration: none;
}

/* CLASSES */

.bigger {
  margin: 60px 10px;
}

.botao {
  background-color: #fff;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
}
.botao:hover{
  color:#E60075;
}

/* ESPAÇAMENTO BOTTOM */
.bottom {
  margin-bottom: 3%;
}

.container {
  background-color: #fff;
  box-shadow: 0 0 2px 1px #ccc;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 0 50px 50px 50px;
}

.enquete {
  margin-top: 20px;
}
.enquete2 {
  margin-top: 20px;
}

.line {
  border: 0;
  border-bottom: 1px solid #eee;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 12px;
}

.line2 {
  border: 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 40px;
}

/* LINKS */
 .link {
  font-family: 'Vollkorn', sans-serif;
  font-size: 1em;
  font-style: italic;
  text-decoration: none;
  text-transform: none;
}
.link:hover {
  color: #E60075;
  font-weight: normal;
  text-decoration:none;
}

a.link-b {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}

a.link-c {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}
a.link-c:hover {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

a.slider-link {
  color: #fff;
}
a.slider-link:hover {
  color: #fff;
}

/* VIAGEM - DESCRIÇÃO DE VÍDEO */
.mala {
  margin: 120px auto;
}

.margin-img {
  margin-left: 10px;
}
/* MARGEM USADA NOS TITLES*/
.margin-gd {
  margin: 35px auto;
}

.negrito {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
}

.pdg-gd {
  margin: -23px auto;
}

img.square {
  height: 200px;
  width:200px;
}

img.square2 {
  height: 252px;
  width:252px;
}


img.retang {
  width: 130px;
  height: 90px;
}

img.square3 {
  height: 200px;
  width: 300px;
}

/* TÍTULOS COM LINHA */
.titles {
    background-color: #999;
    height: 1px;
    text-align: center;
}
.titles span {
    background-color: white;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 0 20px;
    position: relative;
    text-transform: uppercase;
    top: -0.7em;
}
@media screen and (max-width: 600px) {
  .titles span {
    font-size: 15px;
  }
}

.titles ol, ul {
  margin: 1% 10px;
}


/* ESPAÇAMENTO TOP  */
.top {
  margin-top: 5%;
}


/* Large devices (large desktops, 1200px and up) */

@media (min-width:768px){
  .margin-bx {
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
  }
  .margin-bx img {
    padding: 0 10px;
  }

  .margin-rct {
    margin-bottom: 40px;
    margin-left: 2px;
    margin-right: 2px;
  }
  .margin-rct img {
    padding: 0 10px;
  }

  .margin-vih {
    margin-top: 100px;
  }

  .pdg-btm {
    padding-bottom: 25px;
  }

  .recentes-pdg {
    padding: 20px;
  }
  .recentes-pdg img {
    padding: 10px;
  }

/* verificar necessidade */
  .top-vlogs-margin {
    margin-top: 20px;
  }

  .teste-sm {
    margin-top: 300px;
  }
}

/* Small devices (tablets, 768px and up) */

@media (max-width: 768px) {

    .assista {
      margin-top: -1100px;
    }

    .enquete {
      margin-top: 30px;
    }

    .enquete2 {
      margin-bottom: 250px;
      margin-top: 800px;
    }

    .icon-xs {
      width:16px;
      height: 16px;
    }

    .img-mbl{
      height: 170px;
      width:100px;
    }

    img.square2 {
      height: 123px;
      width:123px;
    }

    img.square4 {
      height: 200px;
      width:200px;
    }

    .margin-mbl {
      margin: 25px auto;
    }

    .margin-mbl2 {
      margin: 60px auto;
    }
    .margin-mbl3 {
      margin-top: 550px;
    }
    .margin-mbl4 {
      margin-top: 90px;
    }

    .pop-xs {
      margin-top: 820px;
    }


    .top-vlogs-margin {
      margin-top: 65px;
    }


    .titles span {
      padding: 20px 10px;
    }

      .top-mbl {
      margin: 0 auto;
      height: 100px;
      border-bottom:1px solid #313030;
    }
}

/* smaller devices */

@media (max-width: 320px) {
  .viagem-margin {
    margin-top: 20px;
  }
  .top-vlogs-margin {
    margin-top: 50px;
  }

  li a {
    font-size: .8em;
  }
}
